body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	line-height: 1.25;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	overflow-x: hidden;
}

button, button:focus, input[type=radio] {
	outline: 0;
	box-shadow: none;
}

*:disabled {
	opacity: 0.5 !important;
	cursor: not-allowed;
}

h2 {
	font-size: 24px;
	color: #242836;
	letter-spacing: 0.1px;
	font-weight: 400;
	margin-bottom: 20px;
}

h3 {
	font-size: 19px;
}

h4 {
	font-size: 15px;
	color: #62666C;
	letter-spacing: 0.1px;
	line-height: 23px;
	font-weight: 300;
}

h5 {
	font-size: 14px;
	line-height: 1.45;
	font-weight: 400;
}

h6 {
	font-size: 13px;
	line-height: 1.25;
	color: #858A93;
	font-weight: 400;
}

a {
	cursor: pointer;
} 

.no-dec {
	text-decoration: none !important;
}

.spacing-xs {
	height: 10px;
}

.spacing-sm {
	height: 20px;
}

.spacing-md {
	display: block;
	height: 40px;
	background-color: transparent;
}

.spacing-xl {
	display: block;
	height: 100px;
	background-color: transparent;
}

.no-margin {
	margin: 0 !important;
}

.no-padding {
	padding: 0 !important;
}

/* Forms & inputs */

.scrollable-textarea {
	max-height: 200px;
	overflow: auto;
	background-color: #F8F9FB;
	border-radius: 3px;
	padding: 10px 15px;
	border: 1px solid #E9EDEE;
}

.inline-select {
	color: #5A9DE5;
	font-size: 14px;
	font-weight: 500;
	background: none;
	border: none;
	outline: none !important;
	padding-right: 25px;
}

.select-dropdown {
	position: relative;
}

.select-dropdown:after {
	content: "\f107";
	font-family: FontAwesome;
	color: #16A8FB;
	background-color: #fff;
	width: 15px;
	height: 15px;
	right: -5px;
	top: 2px;
	pointer-events: none;
	position: absolute;
}

.datepicker-dropdown {
	min-width: 220px;
}

.form-check-label {
	padding-left: 1.5rem;
}

.form-check-input {
	margin-top: 0.15rem;
	margin-left: -1.5rem;
}

small .form-check-input {
	margin-top: 0.08rem;
}

.form-check-label h5 {
	margin-bottom: -7px;
	font-weight: 400;
}

.form-group label,
.form-check > label:first-child {
	font-size: 12px;
	color: #3a3c49;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 0.5px;
}

.form-check-label {
	text-transform: none !important;
}

.form-group small label{
	text-transform: none;
}

.form-group .custom-radio {
	font-size: 13px;
	font-weight: normal;
	text-transform: none;
}

.custom-control-indicator {
	top: 0;
	outline: none !important;
}

.custom-control-input:focus~.custom-control-indicator {
	box-shadow: none;
}

.custom-control-input:checked~.custom-control-indicator {
	background-color: #5a9de5;
}

.form-control {
	background: #FFFFFF;
	border: 1px solid #D9DDE6;
	border-radius: 2px;
	font-size: 14px;
	padding: 0.65rem 1rem;
}

.form-control-sm, .input-group-sm>.form-control, .input-group-sm>.input-group-addon, .input-group-sm>.input-group-btn>.btn {
  padding: .25rem .5rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: .2rem;
}

.invalid-feedback {
  color: #FF5858;
  display: block;
}

.valid-feedback {
  color: #5AC858;
}

.warning-feedback, 
.warning-feedback a {
  color: #FFC237;
}

.was-validated .form-control:valid, .form-control.is-valid, .was-validated
.custom-select:valid,
.custom-select.is-valid {
  border-color: #5AC858;
}

.was-validated .form-control:valid:focus, .form-control.is-valid:focus, .was-validated
.custom-select:valid:focus,
.custom-select.is-valid:focus {
  box-shadow: none;
}

.was-validated .form-check-input:valid + .form-check-label, .form-check-input.is-valid + .form-check-label {
  color: #5AC858;
}

.was-validated .custom-control-input:valid ~ .custom-control-description, .custom-control-input.is-valid ~ .custom-control-description {
  color: #5AC858;
}

.was-validated .custom-file-input:valid ~ .custom-file-control, .custom-file-input.is-valid ~ .custom-file-control {
  border-color: #5AC858;
}

.was-validated .custom-file-input:valid ~ .custom-file-control::before, .custom-file-input.is-valid ~ .custom-file-control::before {
  border-color: inherit;
}

.was-validated .custom-file-input:valid:focus, .custom-file-input.is-valid:focus {
  box-shadow: none;
}

.was-validated .form-control:invalid, .form-control.is-invalid, .was-validated
.custom-select:invalid,
.custom-select.is-invalid {
  border-color: #FF5858;
}

.was-validated .form-control:invalid:focus, .form-control.is-invalid:focus, .was-validated
.custom-select:invalid:focus,
.custom-select.is-invalid:focus {
  box-shadow: none;
}


.was-validated .form-check-input:invalid + .form-check-label, .form-check-input.is-invalid + .form-check-label {
  color: #FF5858;
}

.was-validated .custom-control-input:invalid ~ .custom-control-description, .custom-control-input.is-invalid ~ .custom-control-description {
  color: #FF5858;
}

.was-validated .custom-file-input:invalid ~ .custom-file-control, .custom-file-input.is-invalid ~ .custom-file-control {
  border-color: #FF5858;
}

.was-validated .custom-file-input:invalid ~ .custom-file-control::before, .custom-file-input.is-invalid ~ .custom-file-control::before {
  border-color: inherit;
}

.was-validated .custom-file-input:invalid:focus, .custom-file-input.is-invalid:focus {
  box-shadow: none;
}

/* Buttons */

.btn {
	padding: .65rem 1.15rem;
	font-size: 14px;
	font-weight: 500;
	border-radius: 3px;
	box-shadow: none !important;
	color: #fff !important;
}

.btn-sm {
	font-size: 13px;
}

.btn .btn-icon {
	margin-right: .35rem;
}

.btn-primary {
	background-color: #5A9DE5;
	border-color: #5A9DE5;
}

.btn-primary:hover, .btn-primary:active {
	background-color: #5294DB;
	border-color: #5294DB;
}

.btn-secondary {
	background-color: #F7F8FA;
	border-color: #EEF0F1;
	color: #8E93A0 !important;
	font-weight: 400 !important;
}

.btn-secondary:hover, .btn-secondary:active {
	background-color: #EBEFF6;
	border-color: #E6EAEC;
	color: #838997 !important;
}

.btn-success {
	background-color: #5AC858;
	border-color: #5AC858;
}

.btn-success:hover, .btn-success:active {
	background-color: #50BD4E;
	border-color: #50BD4E;
}

.btn-warning {
	background-color: #FFC237;
	border-color: #FFC237;
}

.btn-warning:hover, .btn-warning:active {
	background-color: #F3B62A;
	border-color: #F3B62A;
}

.btn-danger {
	background-color: #FF5858;
	border-color: #FF5858;
}

.btn-danger:hover, .btn-danger:active {
	background-color: #EE4F4F;
	border-color: #EE4F4F;
}

.btn-sm {
	line-height: 1;
	padding: .5rem .75rem;
	font-weight: 400;
}

.button-cta {
	background-color: #FF8777;
	border-radius: 4px;
	width: 320px;
	height: 64px;
	padding: .5rem 1rem;
	background-image: url(../dist/img/orange.png);
	background-position: center;
	background-size: 320px 64px;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,0.17);
	margin: 0;
	position: relative;
}

.button-cta .button-title {
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 0.7px;
	margin: 5px 0 1px;
	text-transform: uppercase;
	color: #fff;
}

.button-cta .button-sec {
	font-size: 13px;
	font-weight: 500;
	color: #fff;
	letter-spacing: 0.2px;
}

.button-cta i {
	font-size: 38px;
	height: 38px;
	color: #fff;
}

.button-cta:hover {
	cursor: pointer;
	background-size: 120% 120%;
	transition: 0.2s;
}

.button-cta:hover i {
	text-shadow: 2px 2px 8px rgba(255,255,255,0.50);
	transition: 0.2s;
}

.button-cta-sm {
	width: 100%;
	height: 44px;
	background-color: #fff;
	color: #50555A !important;
	border: 1px solid #EEEEEF;
	font-size: 11px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.6px;
	outline: 0 !important;
	padding: .5rem 1rem;
	margin: 4px 0;
	box-shadow: none !important;
	line-height: 1.25;
	cursor: pointer;
}

.button-cta-sm i {
	font-size: 22px;
	font-weight: 500;
}

.button-cta-sm.active {
	color: #fff !important;
}

.button-cta-sm.button-create-campaign i {
	color: #FF5858;
}

.button-cta-sm.button-create-campaign:hover {
	border: 1px solid rgba(255,88,88,0.25);
}

.button-cta-sm.button-create-campaign:hover i {
	text-shadow: 2px 2px 8px rgba(255,88,88,0.25);
	transition: 0.2s;
}

.button-cta-sm.button-create-campaign.active {
	background-color: #FF8777;
	border-radius: 4px;
	height: 44px;
	background-image: url(../dist/img/orange.png);
	background-position: center;
	background-size: 280px 44px;
	border: 1px solid #FF8777;
}

.button-cta-sm.button-view-reports i {
	color: #56c9a9;
}

.button-cta-sm.button-view-reports:hover {
	border: 1px solid rgba(86,201,169,0.25);
}

.button-cta-sm.button-view-reports:hover i {
	text-shadow: 2px 2px 8px rgba(86,201,169,0.25);
	transition: 0.2s;
}

.button-cta-sm.button-view-reports.active {
	background-color: #56c9a9;
	border-radius: 4px;
	height: 44px;
	background-image: url(../dist/img/green.png);
	background-position: center;
	background-size: 280px 44px;
	border: 1px solid rgba(86,201,169,1);
}

.button-cta-sm.button-signup-form i {
	color: #02A7FF;
}

.button-cta-sm.button-signup-form:hover {
	border: 1px solid rgba(2,168,255,0.25);
}

.button-cta-sm.button-signup-form:hover i {
	text-shadow: 2px 2px 8px rgba(2,168,255,0.25);
	transition: 0.2s;
}

.button-cta-sm.button-signup-form.active {
	background-color: #02A7FF;
	border-radius: 4px;
	height: 44px;
	background-image: url(../dist/img/cyan.png);
	background-position: center;
	background-size: 280px 44px;
	border: 1px solid rgba(2,168,255,1);
}

.button-cta-sm.button-list-management i {
	color: #FC7491;
}

.button-cta-sm.button-list-management:hover {
	border: 1px solid rgba(252,116,145,0.25);
}

.button-cta-sm.button-list-management:hover i {
	text-shadow: 2px 2px 8px rgba(252,116,145,0.25);
	transition: 0.2s;
}

.button-cta-sm.button-list-management.active {
	background-color: #FC7491;
	border-radius: 4px;
	height: 44px;
	background-image: url(../dist/img/red.png);
	background-position: center;
	background-size: 280px 44px;
	border: 1px solid rgba(252,116,145,1);
}

.button-cta-sm.button-create-fields i {
	color: #6A9EFF;
}

.button-cta-sm.button-create-fields:hover {
	border: 1px solid rgba(106,158,255,0.25);
}

.button-cta-sm.button-create-fields:hover i {
	text-shadow: 2px 2px 8px rgba(106,158,255,0.25);
	transition: 0.2s;
}

.button-cta-sm.button-create-fields.active {
	background-color: #6A9EFF;
	border-radius: 4px;
	height: 44px;
	background-image: url(../dist/img/blue.png);
	background-position: center;
	background-size: 280px 44px;
	border: 1px solid rgba(106,158,255,1);
}

.button-cta-sm.button-create-campaign.active i,
.button-cta-sm.button-view-reports.active i,
.button-cta-sm.button-signup-form.active i,
.button-cta-sm.button-list-management.active i,
.button-cta-sm.button-create-fields.active i {
	text-shadow: 0px 2px 4px rgba(255,255,255,0.5);
}

.button-cta-sm.active,
.button-cta-sm.active i {
	color: #fff;
}

.button-actions {
	width: 100%;
}

.button-actions .btn {
	margin-bottom: 10px;
}

.button-actions .btn:not(:last-child) {
	margin-right: 7px;
}

.btn .fa {
	vertical-align: -6%;
}

.fa-lg {
	font-size: 1.15rem;
}

.fa-m-r {
	margin-right: 7px;
}

.btn-m-r-xs {
	margin-right: 2px;
}

.btn-m-r-sm {
	margin-right: 5px;
}

.btn-m-r-md {
	margin-right: 8px;
}

/* Misc */

.dropdown-menu {
	margin: .5rem 0 0;
}

/* Pagination */

.page-item.disabled .page-link {
	border-color: #F2F2F3;
	color: #B7C0C5;
}

.page-link {
	color: #5a9de5;
	border-color: #f2f2f3 !important;
}
.page-link:focus, .page-link:hover {
	background-color: #F6FAFD;
}

/* Tables */

.table {
	border-radius: 3px !important;
}

.table.table-scrollable {
	display: block;
	overflow-x: scroll;
}

.table small {
	font-size: 90%;
}

.table td, .table th {
	border: 1px solid #F2F2F3;
	border-left: none;
	border-right: none;
	padding: 0.85rem;
	padding-right: 5px;
	word-wrap: normal;
	text-overflow: ellipsis;
}

.table thead {
	background-color: #5A9DE5;
	color: #fff;
	border-radius: 3px 3px 0 0 !important;
	font-size: 12px;
	text-transform: uppercase;
	padding: 30px;
}

.table.secondary thead {
	background-color: #353942;
}

.table.success thead {
	background-color: #5ac858;
}

.table.warning thead {
	background-color: #ffbd40;
}

.table.danger thead {
	background-color: #ee4f4f;
}

.table thead th {
	border: none;
	vertical-align: top;
}

.table thead tr {
	border-radius: 3px !important;
}

.table thead th:first-child {
	border-radius: 3px 0 0 0 !important;
}

.table thead th:last-child {
	border-radius: 0 3px 0 0 !important;
}

.table tbody {
	font-size: 14px;
	color: #50555A;
	border: 1px solid #F2F2F3;
	border-radius: 0 0 3px 3px !important;
	vertical-align: top;
}

.table tbody th {
	font-weight: 500 !important;
}

.table tbody td {
	font-weight: 400 !important;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #FCFCFD;
}

.table-short tbody tr:nth-child(n+6) {
	display: none !important;
}

.grayed-out, .grayed-out-content {
	opacity: 0.5;
}

/* Progress bars */

.progress-text {
	font-size: 12px;
	margin: 0;
	text-align: right;
}

.progress-bar {
	border-radius: 55px;
	background-color: #5A9DE5;
}

.bg-success {
	background-color: #5ac858 !important;
}

.bg-danger {
	background-color: #ff5858 !important;
}

.bg-warning {
	background-color: #FFBD40 !important;
}

/* Popover */

.popover {
	border-radius: 3px;
	border-top: 3px solid #5AC858;
	box-shadow: 0 4px 14px rgba(0,0,0,0.17);
	max-width: 300px;
}

/* Modal */

.modal {
	z-index: 99999;
}

.modal-backdrop {
	background-color: rgba(53,57,66,0.75);
}

@media (min-width: 576px){
	.modal-dialog {
	    max-width: 680px;
	    margin: 30px auto;
	}

	.modal-dialog.modal-wide {
		max-width: 64vw;
	}
}

.modal-content {
	border: none;
	border-radius: 3px;
}

.modal-border {
	border: 1px solid #E6EBEC;
}

.modal-header {
	background-color: #F8F9FB;
	padding: 16px 25px;
	border-radius: 3px 3px 0 0;
}

.modal-header .modal-title {
	font-size: 18px;
	font-weight: 400;
}

.modal-header .close {
	margin-top: -3px;
}

.modal-body {
	padding: 16px 25px;
	border-radius: 0 0 3px 3px;
}

.modal-body h5:not(.form-text) {
	color: #3E4145;
	line-height: 21px;
	margin-bottom: 15px;
}

.modal-footer {
	background-color: #F8F9FB;
	padding: 16px 25px;
	border-radius: 0 0 3px 3px;
}

.btn-secondary {
	background-color: #fff;
}

.modal-danger .modal-header {
	background-color: #FF5858;
}

.modal-success .modal-header {
	background-color: #5AC858;
}

.modal-primary .modal-header {
	background-color: #5a9de5;
}

.modal-danger .modal-header .modal-title, 
.modal-success .modal-header .modal-title,
.modal-primary .modal-header .modal-title {
	color: #fff;
	font-weight: 500;
}

.modal-danger .modal-header .close,
.modal-success .modal-header .close,
.modal-primary .modal-header .close {
	color: #fff;
	font-weight: 300;
}

/* Tabs */

.nav-tabs {
	border-bottom: 1px solid #D8D8D8;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
	border-color: transparent;
}

.nav-tabs .nav-item .nav-link {
	position: relative;
	color: #62666C;
	font-size: 15px;
}
.nav-tabs .nav-link.active {
	color: #5a9de5;
	border-color: transparent;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active:after {
	content: "";
	position: absolute;
	display: inline;
	width: 100%;
	height: 3px;
	background-color: #5a9de5;
	left: 0;
	bottom: -3px;
}

.vertical-tabs-container {
	min-height: 340px;
}

.vertical-tabs-container .tab-content {
	overflow-y: auto;
}

.vertical-tabs-container .tab-pane {
	padding: 1rem 0.625rem;
}

.vertical-tabs {
	display: block !important;
	list-style: none;
	-webkit-padding-start: 0;
	border-right: 1px solid #e6ebec;
	background: #f8f9fb;
	padding: 0;
}

.vertical-tabs li {
	margin: 0;
	padding: 0;
	width: 100%;
	border: none;
}

.vertical-tabs li a {
	position: relative;
	display: block;
	font-size: 14px;
	padding: 0.9rem;
	background: transparent;
	margin: 0;
	border: 1px solid transparent;
	border-right: none;
	border-left: 4px solid transparent;
	width: 100%;
	cursor: pointer;
}

.vertical-tabs li a:hover {
	color: #5a9de5;
}

.vertical-tabs li a {
	color: #858a93;
	text-decoration: none !important;
}

.vertical-tabs li a.active {
	border-color: green;
	background: #fff;
	border: 1px solid #e6ebec;
	border-right: none;
	border-left: 4px solid #e6ebec;
	color: #5a9de5;
	overflow-x: hidden;
}

.vertical-tabs li a.active:before {
	position: absolute;
	content: '';
	width: 4px;
	height: calc(~"100% + 2px");
	display: inline-block;
	background: #5a9de5;
	left: -4px;
	top: -1px;
}

.vertical-tabs li a.active:after {
	position: absolute;
	content: '';
	width: 2px;
	height: 100%;
	display: inline-block;
	background: #fff;
	right: -1px;
	top: -0;
}

/* Content */

.card {
	margin-bottom: 2px;
	border: 1px solid #f2f2f3;
}

.card-header {
	border-bottom: none;
	background: #f8f9fb;
}

.card-block {
	border-top: 1px solid #f2f2f3;
}

.pointer {
	cursor: pointer;
}

.container-main {
	padding: 0;
}

.l-sidebar {
	min-width: 230px;
	min-height: 100vh;
	background: #353942;
	box-shadow: 1px 0 1px 0 rgba(0,0,0,0.08);
	color: #fff;
	padding-top: 10px;
	transition: 0.3s;
	overflow: hidden;
	position: relative;
	z-index: 3;
}

.l-sidebar__content {
	position: fixed;
	min-width: 245px;
	height: 95vh;
	overflow-y: scroll;
}

.l-sidebar.collapsed {
	min-width: 0px;
	width: 0px;
}

.l-sidebar .nav-title {
	font-size: 12px;
	text-transform: uppercase;
	color: #B9BEC9;
	padding: 30px 20px 5px;
	letter-spacing: 0.6px;
	font-weight: 500;
	opacity: .8;
}

.l-sidebar .nav-link {
	font-size: 13px;
	color: #EFEFEF;
	letter-spacing: 0.3px;
	padding: 5px 30px;
	display: block;
}

.l-sidebar .nav-link span {
	display: inline-block;
	white-space: all;
	word-break: break-all;
	max-width: 160px;
}

.l-sidebar .nav-user-link span {
	line-height: 15px;
}

.l-sidebar .nav-link .nav-icon {
	color: #B9BEC9;
	width: 16px;
	text-align: center;
	margin-right: 10px;
	font-size: 16px;
}

.l-sidebar .nav-user .nav-link {
	padding: 2px 30px;
}

.l-sidebar .nav-user-link {
	color: #fff !important;
	font-weight: 500;
	font-size: 14px;
	margin-top: 3px;
}

.l-sidebar .nav-user-link .nav-icon {
	color: #fff !important;
}

.l-sidebar .nav-item:hover .nav-link,
.l-sidebar .nav-item.active .nav-link,
.l-sidebar .nav-item:hover .nav-link .nav-icon,
.l-sidebar .nav-item.active .nav-link .nav-icon,
.l-sidebar .nav-link-inner:hover a,
.l-sidebar .nav-link-inner.active a{
	text-decoration: none;
	color: #5AC858;
}

.l-sidebar .nav-item-inner {
	margin: 0 0 10px;
}

.l-sidebar .nav-link-inner {
	display: block;
}

.l-sidebar .nav-link-inner a {
	font-size: 13px;
	color: #D9DADA;
	letter-spacing: 0.18px;
	padding: 4px 0 4px 60px ;
	display: block;
}

.l-sidebar .nav-link-inner a:before {
	content: "";
	display: block;
	position: absolute;
	border-radius: 50px;
	width: 1px;
	height: 25px;
	background-color: #424853;
	margin-left: -23px;
	margin-top: -3px;
}

.l-sidebar .nav-link-inner.active a:before {
	background-color: #5AC858;
}

.l-sidebar .nav-interface .nav-item .nav-link {
	padding: 7px 30px;
}

.l-sidebar .nav-interface .nav-item:hover .nav-link,
.l-sidebar .nav-interface .nav-item.active .nav-link {
	background-color: rgba(90,200,88,0.1);
}

.l-sidebar .nav-interface .nav-item.active .nav-link:before {
	content: "";
	display: block;
	position: absolute;
	width: 4px;
	background-image: linear-gradient(-121deg, #5AC858 0%, #70DC6E 59%);
	height: 35px;
	left: 0;
	margin-top: -7px;
}

.r-sidebar {
	min-height: 100vh;
	width: 330px;
	background: #FCFCFD;
	box-shadow: inset 1px 0 1px 0 #E7EBEF;
	padding: 12px 15px;
	position: fixed;
	right: -17px;
	/*margin-left: -17px;*/
	top: 0;
	z-index: 99;
	overflow-y: scroll;
	height: 100vh;
}

.r-sidebar-toggle {
	display: none;
}

.r-sidebar-inner.no-dd #main-toolbox {
	display: none !important;
}

#main-toolbox {
	opacity: 0;
}

#main-toolbox.visible {
	transition: 1s;
	opacity: 1;
}

.r-sidebar-placeholder {
	position: relative;
	display: inline-flex;
	height: 100vh;
	margin-right: -17px;
}

.r-sidebar-inner {
	position: relative;
}

.r-sidebar .sidebar-list {
	margin-top: 20px;
}

.r-sidebar .sidebar-list__item {
	margin: 8px 0;
}

.r-sidebar .sidebar-list .sidebar-list__title {
	font-size: 13px;
	font-weight: 600;
	text-transform: uppercase;
	color: #50555A;
	padding: .65rem 0 .45rem;
	margin-bottom: 8px;
	border-top: 1px solid #EDEDEF;
	border-bottom: 1px solid #EDEDEF;
}

.r-sidebar .sidebar-list .sidebar-list__content h5 {
	color: #707070;
	letter-spacing: 0.1px;
	margin-bottom: 0;
	font-weight: 400;
	line-height: 1.4;
}

.r-sidebar .sidebar-list .sidebar-list__content small:not(.form-text) {
	font-size: 13px;
	color: #50555A;
	letter-spacing: 0.26px;
	font-weight: 500;
	text-align: right;
	line-height: 1.15;
}

.r-sidebar .sidebar-list .form-check {
	margin-bottom: 0;
}

.r-sidebar .sidebar-list .sidebar-list__dropdown {
	margin: 3px 0;
	padding-left: 25px;
}

.r-sidebar .sidebar-list .collapse {
	margin: 5px 0 10px;
}

.r-sidebar .sidebar-list .sidebar-list__content .caret-dropdown.show-dropdown {
	opacity: 0.5;
	-ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}

.r-sidebar .sidebar-list .sidebar-list__item .form-check-label .form-check-input {
	margin-top: 0.2rem;
}

.r-sidebar .sidebar-list .sidebar-list__item small .form-check-label .form-check-input {
	margin-top: 0.08rem;
}

.r-sidebar .sidebar-list .sidebar-list__item .form-check-label h5{
	margin-bottom: -7px;
	color: #242836;
}
.r-sidebar *.show {
	display: flex;
}

.m-content {
	flex: auto;
	padding: 0 25px;
	z-index: 4;
	background-color: #fff;
	width: 500px;
}

.header {
	height: 72px;
	border-bottom: 1px solid #E4E9EC;
	padding: 0 5px;
}

.header i, .collapse-sidebar {
	color: #5ac858;
	font-size: 22px;
}

.header .support {
	margin: 0 20px;
}

.header .phone-number {
	font-size: 15px;
	color: #7B7C82;
	letter-spacing: 0.2px;
	margin-left: 10px;
}

.header .working-hours {
	font-size: 12px;
	color: #9699A3;
	margin-top: -1px;
	font-weight: 300;
	letter-spacing: 0.2px;
}

.content {
	padding: 40px 5px;
}

.campaign-start {
	max-width: 530px;
}

.mail-illustration {
	width: 100%;
	max-height: 240px;
	max-width: 398px;
	margin-top: 5px;
}

.campaigns {
	margin-bottom: 50px;
}

.campaigns-header {
	margin-left: -20px;
	padding: 0 20px 8px;
	width: calc(~"100% + 40px");
	margin-bottom: 10px;
	border-bottom: 1px solid #EFF2F4;
}

.campaigns-title {
	color: #242836;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 500;
	border-bottom: 1px;
}

.campaigns-sort, .sort {
	font-size: 13px;
	color: #707070;
}

.drafts {
	display: none !important;
}

.drafts th a,
.campaigns th a,
.templates th a,
a.regular {
	color: #50555a;
	text-decoration: none !important;
}

.template {
	background-color: #fff;
	border-radius: 3px;
	border: 1px solid #EDEDEF;
	height: 192px;
	min-width: 230px;
	width: calc(~"20% - 15px");
	margin: 8px 0;
	border-radius: 3px;
	transition: 0.1s;
}

.template.template-stripped {
	height: 140px;
  width: 48% !important;
  min-width: 50px !important;
}

.simple-templates-view {
	max-height: 320px;
	overflow-y: auto;
}

@media screen and (min-width: 1600px){
	.simple-templates-view .template.template-stripped {
	  width: 32% !important;
	}
}

.template.template-stripped .template-image {
	border-radius: 3px;
	height: 138px;
	border-bottom: none;
}

.template:hover {
	border: 1px solid rgba(2,168,255,0.25);
	border: 1px solid rgba(90,157,229,0.20);
	box-shadow: 0 1px 23px 0 rgba(0,0,0,0.15);
}

.template-placeholder {
	min-width: 230px;
	width: calc(~"20% - 15px");
	height: 0px;
	border: none;
}

.template .template-image {
	height: 140px;
	width: 100%;
	overflow: hidden;
	cursor: pointer;
	border-radius: 3px 3px 0 0;
	border-bottom: 1px solid #F6F7F8;
}

.template .template-image img {
	width: 100%;
	height: auto;
	min-height: 140px;
}

.template .template-info {
	padding: .6rem 1.1rem;
	width: 100%;
	position: relative;
}

.template .template-info > div {
	width: 100%;
	position: relative;
}

.template .template-info h5 {
	color: #50555A;
	letter-spacing: 0.3px;
	font-weight: 400;
	margin-bottom: 3px;
	line-height: 1;
	font-size: 14px;
}

.template .template-info h6 {
	color: #62666C;
	letter-spacing: 0.3px;
	width: calc(~"100% - 15px");
	margin: 0;
	font-weight: 400;
	overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.template .template-info h6 a {
	color: #5A9DE5;
}

.template .template-info i {
	color: #B7C0C5;
	font-size: 16px;
	height: 16px;
	margin: 7px 10px 7px 0;
	position: absolute;
	right: 3px;
	bottom: 11px;
	cursor: pointer;
	transition: 0.12s;
}

.template .template-info i.liked {
	color: #FF5858;
}

.advanced-editor .tinyMCE-header{
  height: 80px;
}

.simple-editor .tinyMCE-header{
  height: 40px;
}


/* Intl flags plugin overwrite */
.iti-flag {background-image: url("../dist/vendor/intl-tel-input/img/flags.png");}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .iti-flag {background-image: url("../dist/vendor/intl-tel-input/img/flags@2x.png");}
}

.intl-tel-input {
	display: block !important ;
}

.flag-container, .country-list {
	outline: none !important;
	width: 100%;
}

/* File explorer */

#file-explorer {
	position: relative;
	width: 100%;
}

.file-explorer-header {
  padding: 20px 0;
}

/*search*/
.search-block {
  float: right;
}

.search-block .form-control {
  width: auto;
  margin-right: -4px;
  border-radius: 3px 0 0 3px;
}

.search-block .btn {
  border-radius: 0 3px 3px 0;
}

@media screen and (max-width: 650px) {
	.search-block.form-inline {
		width: 100%;
		margin-bottom: 15px;
	}

	.search-block .form-control {
	  width: calc(~"100% - 40px");
	}
}

/* Overwrite default placeholder text  */
:-moz-placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #787878;
}

::-webkit-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #787878;
}

:-ms-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #787878;
}

/* Editor box  */
.editor-field-box {
  height: 30px;
  width: 100%;
  line-height: 18px;
  padding: 6px;
  margin: 0;
  border: 1px solid #c6c6c6;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #000;
  vertical-align: middle;
  background-color: #f5f5f5;
  border-radius: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.editor-field-box:focus {
  background: #fff;
  border-color: #1894e4;
  outline: none;
}

/*default sorting block*/
.list .media-sorting-block .media-col-1 {
  width: 40px;
}

.table.list .placeholder-list-body {
	border: none;
	visibility: hidden;
}

.table.list .placeholder-list-body tr {
	min-height: 0;
	height: 0px;
	border: none;
}

.table.list .placeholder-list-body td {
	min-height: 0px;
	height: 0px;
	max-height: 0px;
	padding: 0;
	background: transparent;
	overflow-y: hidden;
	border: none;
}

.table.list .placeholder-list-body .media-name {
	height: 0px;
	min-height: 0px;
}

.table.list .placeholder-list-body td >* {
	min-height: 0px;
	max-height: 0px;
	padding: 0;
	display: none;
}

.table.list thead {
	background: transparent;
  height: 35px;
  color: #62666C;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  border-bottom: 1px solid #EEF0F4;
}

.table.list thead th {
    padding: 12px 20px;
}

.table.list thead th:last-child {
	width: 50px;
}

.table.list, .table.list tbody, .table.list th, .table.list td {
	border-left: none;
	border-right: none;
}

/*media manger files*/
.list .grid-input {
  display: none;
  position: absolute;
  left: 82px;
  width: 32%;
  line-height: 18px;
  padding: 6px;
  margin: -9px 0 0;
  border: 1px solid #1894e4;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #44474B;
  border-radius: 1px;
  vertical-align: middle;
  background: #fff;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

input.grid-input:focus {
  outline: none;
}


.system-folder {
  display: inline-block;
  vertical-align: middle;
}

.system-folder:before {
  position: absolute;
  content: "\f07b";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  top: 28px;
  vertical-align: middle;
}

.system-file {
  display: inline-block;
  vertical-align: middle;
}

.system-file:before {
  position: absolute;
  content: "\f0f6";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  top: 28px;
  vertical-align: middle;
}

.list-management-container .system-file:before {
	position: absolute;
  content: "\f0ca";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  top: 28px;
  vertical-align: middle;
}

.media-name {
  line-height: 16px;
  font-size: 14px;
  color: #44474B;
}

/*folders in list*/
.list .folder-box,
.list .file-box {
  position: relative;
  min-height: 54px;
  max-height: 55px;
  line-height: 0px;
  font-size: 14px;
  color: #44474B;
  padding: 0;
  border-bottom: 1px solid #EEF0F4;
}

.list .folder-box:hover,
.list .file-box:hover {
  cursor: pointer;
}

.list .folder-box .media-inner-controls,
.list .file-box .media-inner-controls {
  display: none;
  position: absolute;
  line-height: 18px;
  padding: 6px;
  margin: -14px 0 0;
  right: 0;
}

.list .folder-box .media-items-block,
.list .file-box .media-items-block  {
	position: relative;
  padding: 0 15px;
  min-height: 54px;
  vertical-align: middle;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.list .folder-box .media-name,
.list .file-box .media-name {
  display: inline-block;
  min-width: 120px;
  padding-left: 25px;
  min-height: 54px;
  line-height: 54px;
  vertical-align: middle;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.list .folder-box .media-date,
.list .file-box .media-date { 
	padding-left: 5px;
}

.list .folder-box .media-edit-controls, 
.list .file-box .media-edit-controls {
	padding: 20px 15px;
}

/*folders in list active box*/
.list .folder-box-active,
.list .file-box-active,
.list .folder-box.key-selected,
.list .file-box.key-selected {
  background-color: #F6FAFD;
}

.list .folder-box-active div.media-inner-controls,
.list .file-box-active div.media-inner-controls {
  display: block;
}

.list .folder-box-active div.media-name,
.list .file-box-active div.media-name {
  visibility: hidden;
  max-width: 3px;
}

.list .folder-box-active input.grid-input,
.list .file-box-active input.grid-input {
  display: inline-block;
  border-radius: 3px;
}

/*add new folder*/

.list .add-folder {
    position: relative;
    height: 62px;
    padding: 0 20px 0 40px;
    cursor: pointer;
}

.list .add-folder .media-items-block {
    border-left: 0;
}

.list .add-folder .media-items-block {
    display: inline-block;
    padding: 10px 15px;
    vertical-align: middle;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.list .add-folder .media-name {
    display: inline-block;
    padding-left: 20px;
    vertical-align: middle;
    font-size: 14px;
}

.list .file-box .media-edit-controls,
.list .folder-box .media-edit-controls {
	text-align: right;
}

.list .file-box .media-edit-controls .fa,
.list .folder-box .media-edit-controls .fa {
	color: #B7C0C5;
	font-weight: 300;
	font-size: 14px;
	margin: 0 5px;
}

.list .folder-box-active .media-edit-controls .fa,
.list .file-box-active .media-edit-controls .fa {
   visibility: hidden;
}

/*breadcrumbs*/
.breadcrumbs-holder {
  margin: 5px 0 30px;
  padding-left: 13px;
  line-height: 15px;
  font-size: 14px;
  font-weight: 400;
  color: #8E93A0;
  width: calc(~"100% - 205px");
  float: left;
}

.breadcrumbs-root {
  display: inline-block;
  max-width: 80%;
  height: 20px;
  color: #8E93A0;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  vertical-align: top;
  overflow: hidden;
  text-decoration: none !important;
}

.breadcrumbs-root:last-child {
  color: #62666C;
  font-weight: 600;
}

.breadcrumbs-root:first-child:hover {
  color: #0383df;
}

.breadcrumbs-root:first-child:before {
  position: relative;
  content: "\f07b";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  margin-right: 8px;
  vertical-align: middle;
}

.remove-checkboxes {
  position: relative;
  width: 20px;
  top: 8px;
}

.remove-checkbox {
  opacity: 0;
}

.remove-checkbox-placeholder {
  position: absolute;
  left: 13px;
  top: 13px;
  z-index: 99;
  pointer-events: none;
}

/* Datepicker */

.datepicker-inline {
	width: 100%;
}

.datepicker-inline .ui-datepicker-title {
	text-align: center;
	font-size: 16px;
	margin-bottom: 15px;
	padding: 5px 0 8px 0;
	border-bottom: 1px solid #ededef;
}

.datepicker-inline .ui-datepicker-prev {
	position: relative;
	font-size: 13px;
	top: 0.425rem;
	padding-left: 0.5rem;
	float: left;
	visibility: hidden;
}

.datepicker-inline .ui-datepicker-prev:before {
	content: "\f053";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	visibility: visible;
	color: #9699a3;
}

.datepicker-inline .ui-datepicker-next {
	position: relative;
	font-size: 13px;
	top: 0.425rem;
	padding-right: 0.5rem;
	float: right;
	visibility: hidden;
}

.datepicker-inline .ui-datepicker-next:after {
	content: "\f054";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	visibility: visible;
	color: #9699a3;
}

.datepicker-inline .ui-datepicker-next:hover:after,
.datepicker-inline .ui-datepicker-prev:hover:before {
	color: #5a9de5;
}

.datepicker-inline table {
	width: 100%;
}

.datepicker-inline table thead th {
	text-align: center;
}

.dow {
	font-size: 12px;
	text-transform: uppercase;
	color: #9699A3;
	font-weight: normal;
}

.datepicker table tr td.new,
.datepicker table tr td.old,
.datepicker table tr td.day {
	padding: .1rem;
	width: 20px;
	text-align: center;
	font-size: 14px;
	color: #50555a;
	text-decoration: none !important;
	text-shadow: none !important;
}

.datepicker table tr td.old,
.datepicker table tr td.new {
	color: #9699A3;
}

.datepicker table tr td.active.active, .datepicker table tr td.active.highlighted.active, .datepicker table tr td.active.highlighted:active, .datepicker table tr td.active:active {
	background: #5a9de5;
	font-weight: 600;
}

.datepicker table tr td span.active.active.focus, .datepicker table tr td span.active.active:focus, .datepicker table tr td span.active.active:hover, .datepicker table tr td span.active.disabled.active.focus, .datepicker table tr td span.active.disabled.active:focus, .datepicker table tr td span.active.disabled.active:hover, .datepicker table tr td span.active.disabled:active.focus, .datepicker table tr td span.active.disabled:active:focus, .datepicker table tr td span.active.disabled:active:hover, .datepicker table tr td span.active.disabled:hover.active.focus, .datepicker table tr td span.active.disabled:hover.active:focus, .datepicker table tr td span.active.disabled:hover.active:hover, .datepicker table tr td span.active.disabled:hover:active.focus, .datepicker table tr td span.active.disabled:hover:active:focus, .datepicker table tr td span.active.disabled:hover:active:hover, .datepicker table tr td span.active:active.focus, .datepicker table tr td span.active:active:focus, .datepicker table tr td span.active:active:hover, .datepicker table tr td span.active:hover.active.focus, .datepicker table tr td span.active:hover.active:focus, .datepicker table tr td span.active:hover.active:hover, .datepicker table tr td span.active:hover:active.focus, .datepicker table tr td span.active:hover:active:focus, .datepicker table tr td span.active:hover:active:hover,
.datepicker table tr td span.active.active, .datepicker table tr td span.active.disabled.active, .datepicker table tr td span.active.disabled:active, .datepicker table tr td span.active.disabled:hover.active, .datepicker table tr td span.active.disabled:hover:active, .datepicker table tr td span.active:active, .datepicker table tr td span.active:hover.active, .datepicker table tr td span.active:hover:active,
.datepicker table tr td.active.active.focus, .datepicker table tr td.active.active:focus, .datepicker table tr td.active.active:hover, .datepicker table tr td.active.highlighted.active.focus, .datepicker table tr td.active.highlighted.active:focus, .datepicker table tr td.active.highlighted.active:hover, .datepicker table tr td.active.highlighted:active.focus, .datepicker table tr td.active.highlighted:active:focus, .datepicker table tr td.active.highlighted:active:hover, .datepicker table tr td.active:active.focus, .datepicker table tr td.active:active:focus, .datepicker table tr td.active:active:hover {
	background: #5294DB;
	font-weight: 600;
	text-shadow: none !important;
}

.datepicker table tr td span {
	font-size: 14px;
}

.datepicker table tr td.range{
	background-color: #F2F4F7;
}

.datepicker table tr td.selected, .datepicker table tr td.selected.highlighted {
	background-color: rgba(90,157,229,0.5);
	color: #fff;
}

.range div {
    display: inline-block;
}

.datepicker-days {
	width: 100%;
}

/* Mobile view */

body.mobile-view, body.mobile-view .container-main {
	overflow-x: hidden;
}

body.mobile-view .m-content {
	width: 100%;
	flex: none!important;
	padding: 0 10px;
}

body.mobile-view .button-cta {
	width: 92vw;
}

body.mobile-view .mail-illustration {
	display: none;
}

body.mobile-view .m-content .content {
	padding-top: 100px;
}

body.mobile-view .m-content .header {
	width: 100%;
	position: fixed;
	z-index: 99999;
	background: #fff;
}

body.mobile-view .l-sidebar {
	padding-top: 60px;
	position: fixed;
	z-index: 999;
}

body.mobile-view .l-sidebar.collapsed .l-sidebar__content {
	width: 0;
	min-width: 0;
}

body.mobile-view .l-sidebar .l-sidebar__content {
	width: 245px;
	min-width: 0;
}

body.mobile-view .l-sidebar .nav-interface .nav-item:hover .nav-link, body.mobile-view .l-sidebar .nav-interface .nav-item.active .nav-link {
	width: 230px;
}

body.mobile-view .flaticon-hamburger.collapse-sidebar {
	position: fixed;
	left: 20px;
	top: 23px;
	z-index: 99999;
}

body.mobile-view .header > .col:nth-child(2) {
  justify-content: flex-start !important;
}

body.mobile-view .logo {
  margin-left: -72px;
}

body.mobile-view .support-phone {
	display: none !important;
}

body.mobile-view .r-sidebar-placeholder {
	display: none !important;
}

body.mobile-view .r-sidebar {
	width: 90vw;
	max-width: 0;
	transition: 0.2s;
	padding: 12px 0;
	height: 100% !important;
	overflow-x: hidden !important;
}

body.mobile-view .r-sidebar.visible {
	max-width: 330px;
	transition: 0.2s;
	padding: 12px 15px;
	z-index: 999999;
	right: 0;
}

body.mobile-view .r-sidebar-toggle {
	display: block;
	position: fixed;
	margin-left: -48px;
	margin-top: 9px;
	background: #fcfcfd;
	border: 1px solid #e7ebef;
	border-radius: 5px 0 0 5px;
	width: 34px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	box-shadow: inset -1px 0 1px 0 #e7ebef;
	z-index: 999999;
}

body.mobile-view .r-sidebar-toggle i {
	font-size: 18px;
	color: #9699a3 !important;
}

body.mobile-view #file-explorer {
	overflow-x: scroll;
}

span.fileuploadtext:after {
	content: '';
	background-image: url('./img/photo.png');
	background-position: center;
	background-size: auto 30%;
	background-repeat: no-repeat;
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
}

.vb-outer, .vb-outer >*,
.vb-container, .vb-container >* {
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}


#edit-area {
	position: relative;
}

#edit-area.hovered:after {
	display: none;
}

#edit-area:after {
	content: '';
	display: inline-block;
	position: absolute;
	width: 100%;
	height: 100%;
	background: transparent;
	top: 0;
	z-index: 99999;
}

.avpw .avpw_powered_text, .avpw .avpw_powered_text a {
	display: none !important;
}
